# Java / Maven ignore rules
backend/target/
backend/*.jar
backend/*.war
backend/*.ear
backend/*.class
dispatched_emails/
backend/dispatched_emails/

# Node / Frontend ignore rules
frontend/node_modules/
frontend/dist/
frontend/.env*

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
